<!DOCTYPE html>
<html>
<head>
	<title>Ajax1</title>
    <script>
        /*recupera el footer un trozo de codigo htlm
          respeta la estructura basica de la peticion ajax
          1.- crear el objeto XMLHttpRequest
          2.- definir la funcion a ejecutar
          3.- generar la solicitud
          4.- enviar la soliciud
        */

        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function(){  //manejador de eventos cuando se ejecuta la peticon ajax
            if(xhr.readyState ===4){   // 5 estados posibles del 0 al 4 donde el 4 es "get ok"
                if(xhr.status ===200){  // 200 ok verificacion del status de la peticion
                    document.getElementById('ajax').innerHTML = xhr.responseText;
                }else if(xhr.status ===404){
                    // no encontrado
                    alert('404 Not found');
                }else if(xhr.status ===401){
                    // no autorizado
                }else if(xhr.status ===500){
                    // server error
                }
            }
        }
        xhr.open('GET', '/ajax/footer/');  //peticion
        xhr.send();  //envio de la peticion

        /* nota si mandamos 4 solicitudes ajax al mismo tiempo el server puede responder primero
        la solicitud numero 4 esa es la que devuelve, y no en el orden enviado ,
        nunca se puede saber en que roden respondera ajax a no ser que manejes las prioridades*/
    </script>
</head>
<body>
	<h1>Bienvenido a Ajax {{ user }}</h1>
    <div id="ajax"></div>
</body>
</html>