<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
    <h1>Logeate perro</h1>
        <form method="post" action="/accesar" role="form">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" id="gmin" name="gmin" placeholder="GMIN">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-preguntar" value="Ingresar">
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>